<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>First Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Ph@ntom</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'signin' %}">Sign In <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'first' %}">First App</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h1>Coffee Lover Project</h1>
                <p class="lead">Welcome to my Django Project: Coffee Lover</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, repellendus? Voluptas, delectus repellat at obcaecati atque asperiores quod quae dicta totam ullam unde qui laboriosam expedita cum libero quos fugit.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit ratione quae libero laudantium placeat. Reprehenderit aspernatur aliquam cupiditate? Voluptate maxime hic itaque delectus quibusdam atque, animi natus quae repellendus. Voluptates!</p>
            </div>
            <div class="my-4"></div>
            <button class="btn btn-outline-success" id="btn_1">Change Color</button>
            <button class="btn btn-outline-danger" id="btn_2">Stop Changing Color</button>
        </div>
    </div>
    <div class="container">
        <p><strong>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In non et voluptate reiciendis animi corrupti vel doloremque voluptas quo, amet adipisci consectetur vero odit aut natus repellendus quis minus nihil.</strong></p>
        <p><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti laborum molestiae, esse fugit iste quasi magnam ex earum voluptates veniam voluptatum quibusdam perspiciatis, ullam optio libero maxime, culpa incidunt error.</strong></p>
        <p><strong>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In non et voluptate reiciendis animi corrupti vel doloremque voluptas quo, amet adipisci consectetur vero odit aut natus repellendus quis minus nihil.</strong></p>
        <p><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti laborum molestiae, esse fugit iste quasi magnam ex earum voluptates veniam voluptatum quibusdam perspiciatis, ullam optio libero maxime, culpa incidunt error.</strong></p>
        <p><strong>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In non et voluptate reiciendis animi corrupti vel doloremque voluptas quo, amet adipisci consectetur vero odit aut natus repellendus quis minus nihil.</strong></p>
        <p><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti laborum molestiae, esse fugit iste quasi magnam ex earum voluptates veniam voluptatum quibusdam perspiciatis, ullam optio libero maxime, culpa incidunt error.</strong></p>
    </div>
    <!-- <script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script> -->
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>