.container{
    margin: auto;
    padding-top: 20px;
}

.status{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
}

.f_name{
    border: 2px solid black;
}
