{% extends '../base.html' %}

{% block container %}
<div class="jumbotron">
    <h1>Welcome to Ph@ntomLabs</h1>
    <p>We're here to help your dreams come true!</p>
    <p>Subscribe to our Email and We'll Inform you as soon as the <em><strong>App Launches!</strong></em></p>
</div>
{% endblock %}

{% block login %}
    <div class="jumbotron">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, vero? Consectetur tempora, dolores error eaque aspernatur ea quisquam provident nobis, fuga repellendus illum. Cupiditate, minima tenetur molestiae id fuga excepturi?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error nostrum mollitia sequi qui at repudiandae, reiciendis quibusdam facilis pariatur, modi cum! Aut delectus fugit earum molestiae mollitia consectetur animi veritatis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, modi odio inventore expedita molestias aliquid sequi, ipsa, velit dicta quasi dolore sed porro incidunt eum iusto repudiandae possimus amet vel?</p>
    </div>
{% endblock %}